*{

box-sizing:border-box;

font-family:Georgia,serif;

}


body{

margin:0;

background:#006b55;

text-align:center;

color:white;

}



/* ABERTURA */


#entrada{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:

linear-gradient(

135deg,

#00382c,

#006b55

);


}



.caixa{


width:350px;


padding:50px 25px;


border:3px solid #D4AF37;


border-radius:25px;


background:#005341;


box-shadow:

0 0 40px #D4AF37;



animation:aparecer 1.5s;


}



.caixa h1{


font-size:65px;


font-style:italic;


color:#D4AF37;


text-shadow:

0 0 20px #D4AF37;


}



.caixa h2{


font-size:35px;


}



.linha{


width:150px;

height:2px;

background:#D4AF37;

margin:20px auto;


}



button{


background:#D4AF37;


color:#006b55;


border:none;


padding:15px 35px;


border-radius:30px;


font-size:18px;


font-weight:bold;


margin:15px;


cursor:pointer;


box-shadow:0 0 20px #D4AF37;


}





/* MUSICA */


#botaoMusica{


display:none;


position:fixed;


top:20px;


right:20px;


z-index:999;


}




/* CONVITE */


#convite{


display:none;


padding:20px;


}



.imagem-convite{


width:95%;


max-width:500px;


border-radius:15px;


animation:aparecer 1s;


}



input,select{


display:block;


margin:15px auto;


width:80%;


max-width:350px;


padding:15px;


border-radius:10px;


}




@keyframes aparecer{


from{

opacity:0;

transform:scale(.7);

}


to{

opacity:1;

transform:scale(1);

}


}